* {
  box-sizing: border-box;
  max-width: 100%;
}

html,
body {
  padding: 0;
  margin: 0;
  min-height: 100%;
  font-family: "Raleway", sans-serif;

  color: #333;
  scroll-behavior: smooth;
}

a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;

  color: rgb(255, 255, 255);

  font-size: 15px;
}

h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

button:focus {
  border: none;
  text-decoration: none;
  outline: none;
}

/* .hidden {
  opacity: 0;
  transition: all ease 0.5s;
}

.visible {
  opacity: 1;
  transition: all ease 0.5s;
} */

.page-home {
  display: grid;
  grid-template-rows: 80px 1fr;
}

.next-btn {
  font-size: 40px;
  color: white;
  margin: auto;
  margin-left: 0;
  margin-bottom: 56vh;
  grid-row: 1;
  cursor: pointer;
  transition: all ease 0.3s;
}

.next-btn:hover {
  padding-left: 20px;
}

.socials {
  position: fixed;
  top: 30vh;
  z-index: 99;
  margin: 0 0 0 30px;
  width: 20px;
  display: flex;
  flex-direction: column;
  height: 380px;
}

.socials:before,
.socials:after {
  content: "";
  height: 100px;
  width: 1px;
  background-color: white;
  margin: auto;
}

.social-btn {
  margin: auto;
  width: 100%;
  height: 20px;
  transition: all ease 0.3s;
}

.social-btn:hover {
  transform: scale(1.4);
}

.waves-div {
  height: 40vh;
  grid-row: 2;
  width: 100%;
  grid-column: 1;
  z-index: 2;
  margin: auto;
  margin-bottom: 0;
}

.waves-div svg path {
  transform: scale(1.4);
}

.landing-section {
  width: 100%;
  background-image: url(./images/landing_hero_background_4.png);
  height: 100%;
  grid-row-start: 1;
  grid-row-end: 3;
  display: grid;
  grid-template-rows: 80px 1fr;
  grid-template-columns: 1fr 1fr;
  background-size: cover;
  z-index: 2;
  grid-column: 1;
}

.landing-column_1 {
  grid-column: 1;
}

.landing-column_2 {
  grid-column: 2;
  height: 100%;
  width: 100%;
  grid-row: 2;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 1fr;
}

.landing-column_2 h5 {
  margin-left: 20px;
  height: 1em;
}

.landing-column_2 h2 {
  color: white;
  /* text-align: center; */
  margin: 20px auto;
}

.column_2-container {
  margin: auto;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  padding-bottom: 12vh;
  grid-row: 1;
}

.landing-text-wrapper {
  margin: auto;
  grid-row: 2;
  width: 80%;
  padding-left: 15vw;
  padding-bottom: 15vh;
}

.landing-text-wrapper button {
  margin: 20px auto auto 0;
  background: #e68158;
  padding: 0.8em 1em;
  box-shadow: 2px 4px 10px 3px rgba(0, 0, 0, 0.08);
}

.landing-text-wrapper button:hover {
  transform: translateX(20px);

  background-color: #e27b52;
}

.landing-text-wrapper p {
  padding-left: 5px;
  color: white;
  margin: 30px 0 30px 0;
}

.subtitle-small {
  font-size: 12px;
  color: white;
  /* text-align: center; */
}

.hero-project-text {
  display: block;
  width: fit-content;
  margin: auto;
}

.hero-project-text a {
  font-size: 12px;
  transition: all ease 0.3s;
}

.technologies-icon {
  width: 20px;
  height: 20px;
  margin: auto;
}

.project-description-icons {
  width: 100px;
  display: flex;
  padding: 15px 0;
}

.hero-project-text a:hover {
  padding-left: 15px;
}

.hero-project-img {
  width: 80%;
  margin: auto;
  display: flex;
}

.hero-container {
  grid-template-columns: 1fr;
  grid-template-rows: 80px calc(100vh - 80px) 100vh 100vh 100vh;
  display: grid;
}

.hero-title {
  font-size: calc(30px + 9 * ((100vw) / 680));
  color: white;
  font-weight: 600;
}

.bio-section {
  width: 100%;
  background-image: url(./images/landing_hero_background_3.png);
  height: 100%;
  grid-row: 3;
  display: grid;
  grid-template-rows: 80px 1fr;
  grid-template-columns: 1fr;
  background-size: cover;
  background-position: center;
}

.page-header {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 80px;
}

.page-header #main-nav {
  width: fit-content;
  display: flex;
}

.page-content {
  transition: all 0.3s ease;
  position: relative;
  /* top: 0; */
  grid-row: span 2;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px calc(100vh - 80px) 100vh 100vh 100vh;
}

.page-content.hidden {
  top: -20%;
  opacity: 0;
}

#app {
  width: 100%;
  min-height: 100%;
  position: absolute;
  transition: all 0.3s ease;
  top: 0;
}

#app.hidden {
  opacity: 0;
  top: -10%;
}

/* main nav */
#main-nav {
  margin: 15px 5vw 15px 0;
}

#main-nav a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  margin: 1em 2.5vw;
  font-size: 15px;
}

#main-nav a.active {
  font-weight: bold;
  /* background: #70ccd6; */
  color: #fff;
  border-radius: 4px;
  /* box-shadow: 1px 2px 3px #1f1f1f1c; */
}

#logo {
  margin: auto;
  margin-left: 5vw;
  width: 160px;
  transition: all ease 0.3s;
}

#logo:hover {
  transform: scale(1.05);
}

.nav-logo {
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 25px;
  margin: auto;
}

.subtle-shadow {
  text-shadow: 0px 1px 8px rgba(150, 150, 150, 0.34);
}

#books-list {
  display: flex;
  flex-wrap: wrap;
}

/* user nav */
#user-nav {
  display: flex;
}

#user-nav a {
  text-decoration: none;
  padding: 0.4em 1em;
  text-transform: uppercase;
  color: #333;
}
/* book entry */
.book-entry {
  width: 32%;
  display: flex;
  align-items: flex-start;
  background: #fff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 1.1em;
  transform: scale(0.9);
  transition: all 0.3s ease;
}

.book-entry .content {
  flex-grow: 1;
}

.book-entry h3 {
  font-size: 1.2em;
  margin: 0 0 0.5em;
}

.book-entry .author {
  color: #999;
  margin-bottom: 0.5em;
}

.book-entry .book-cover {
  width: 30%;
  min-width: 70px;
  height: auto;
}

.book-entry .fav-icon {
  /*color: red;*/
  position: absolute;
  right: 10px;
  top: -24px;
  font-size: 35px;
  text-shadow: 0px 2px 2px rgba(150, 150, 150, 1);
  display: none;
}
.book-entry:hover {
  transform: scale(1.01);
}

.book-entry.is-favourite .fav-icon {
  display: block;
}

/* book modal */
.book-modal {
  display: flex;
  align-items: flex-start;
}

.book-modal .content {
  flex-grow: 1;
}

.book-modal .title {
  font-size: 2.2em;
  margin: 0 0 0.5em;
}

.book-modal .author {
  font-size: 1.4em;
  margin-bottom: 0.5em;
  color: #999;
}

.book-modal .book-cover {
  width: 30%;
}

/* Modal */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  /*height: 400px;
  /*overflow: scroll;*/
  background: #fff;
  border-radius: 20px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}

.modal-content {
  padding: 2em;
}

.modal-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 0;
  text-align: center;
  background: #eee;
  border-radius: 50%;
  border: none;
  transition: all 0.2s ease;
  cursor: pointer;
  outline: none;
}

.modal-close-btn:hover {
  background: cyan;
  color: #fff;
  transform: scale(1.1);
}

.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
}

#user-favourites-menu {
  padding-right: 10px;
  position: relative;
}

#user-favourites-menu span {
  display: inline-block;
  background: red;
  color: #fff;
  font-size: 10px;
  width: 18px;
  height: 18px;
  padding-top: 2px;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  top: 0px;
}

.loading {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: red;
  animation: pulse 1s infinite;
  border-radius: 50%;
  margin: 20px auto;
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}

#notifications {
  position: fixed;
  top: 30px;
  right: 30px;
  width: 300px;
}

.notification-entry {
  padding: 1em;
  text-align: center;
  background: #fff;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 200px;
  margin-bottom: 10px;
  position: relative;
}

/* button */
.button {
  display: inline-block;
  padding: 0.4em 1em;
  border-radius: 4px;
  background: #444;
  color: #fff;
  border: none;
  font-size: 1em;
  transition: all 0.2s ease;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}

.button:hover {
  background: #000;
  transform: scale(1.05);
}

/* filer buttons */
.filter-btn {
  background: #999;
  font-size: 0.8em;
  margin-right: 5px;
}

.filter-btn.is-active {
  background: #333;
}

#favs-count {
  display: inline-block;
  width: 20px;

  background-color: red;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  position: relative;
  top: -2px;
  margin-left: 5px;
}

.field {
  margin-bottom: 1em;
}

.input {
  font-size: 1em;
  padding: 0.5em;
  border: 1px solid #ddd;
  transition: all ease 0.3s;
  border-radius: 4px;
  position: relative;
  width: 100%;
}

.input:focus {
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  outline: none;
  border-color: rgb(146, 212, 212);
}

.form-wrapper {
  width: 60%;
  min-width: 300px;
}
