* {
  box-sizing: border-box;
  max-width: 100%;
}

html,
body {
  padding: 0;
  margin: 0;
  min-height: 100%;
  font-family: "Raleway", sans-serif;

  color: #333;
  /* scroll-behavior: smooth; */
}

a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;

  color: rgb(255, 255, 255);

  font-size: 15px;
}

h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

footer {
  display: flex;
  justify-content: flex-end;
  /* position: fixed; */
  z-index: 100;
  width: 100%;
  height: 80px;
}

.no-scroll {
  position: absolute;
  height: 100vh;
  overflow: hidden;
}

.credits {
  display: flex;
  margin: auto;
  margin-left: 10vw;
  display: block;
}

button:focus {
  border: none;
  text-decoration: none;
  outline: none;
}

.burger {
  cursor: pointer;
  padding: 5px;
  margin: auto 5vw auto 0;
  z-index: 20;
  display: none;
}

.burger-line {
  height: 3px;
  background-color: white;
  margin: 4px 0;
  border-radius: 22%;
  transition: all ease 0.3s;
}
.line-1 {
  width: 18px;
}
.line-2 {
  width: 25px;
}
.line-3 {
  width: 22px;
}

.line-1.line-true {
  width: 24px;
  transform: rotate(-45deg) translateY(10px);
}
.line-2.line-true {
  visibility: hidden;
  width: 0;
}
.line-3.line-true {
  width: 24px;
  transform: rotate(45deg) translateY(-10px);
}

/* .hidden {
  opacity: 0;
  transition: all ease 0.5s;
}

.visible {
  opacity: 1;
  transition: all ease 0.5s;
} */

.page-home {
  display: grid;
  grid-template-rows: 80px 1fr;
}
.page-work {
  display: grid;
  grid-template-rows: 80px 1fr;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(0deg, rgb(66, 196, 210), #67bbc6);
}

.work-project-card {
  min-width: 60vmin;
  flex-grow: 1;
  background-size: cover;
  margin: 5px;
  box-shadow: -3px 6px 18px 3px #00000045;
  transition: all ease 0.3s;
  overflow: hidden;
  position: relative;
  background-position-x: center;
}
.card-text-wrapper {
  margin: auto;
  text-align: center;
}

.card-caption {
  margin: auto;
  display: block;
  margin: auto;
  display: flex;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.801);
  transition: all ease 0.3s;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.project-1 {
  background-image: url("/images/powder_japan_display.png");
}
.project-1:hover {
  padding: 10px;
}
.project-1:hover .card-caption {
  visibility: visible;
  opacity: 1;
}
.project-2 {
  background-image: url("/images/car_rental_display.png");
  min-width: 40vmin;
}
.project-2:hover .card-caption {
  visibility: visible;
  opacity: 1;
}
.project-2:hover {
  padding: 10px;
}
.project-3 {
  background-image: url("/images/ducati_project_card.png");
  background-position: center;
}
.project-3:hover {
  padding: 10px;
}
.project-3:hover .card-caption {
  visibility: visible;
  opacity: 1;
}

.work-grid {
  flex-wrap: wrap;
  display: flex;
  grid-row: 2;
  width: 70%;
  height: 80%;
  margin: auto;
}

.page-contact {
  display: grid;
  grid-template-rows: 80px calc(100vh - 160px);
}

.main-contact {
  grid-row-start: 1;
  height: 100%;
  grid-row-end: 3;
}

.next-btn {
  font-size: 40px;
  color: white;
  margin: auto;
  margin-left: 0;
  margin-bottom: 56vh;
  grid-row: 1;
  cursor: pointer;
  transition: all ease 0.3s;
  font-size: calc(18px + 1.5vmax);
}

.next-btn:hover {
  padding-left: 20px;
}

.socials {
  position: fixed;
  top: 30vh;
  z-index: 99;
  margin: 0 0 0 30px;
  width: 1.5vw;
  display: flex;
  flex-direction: column;
  height: 40vh;
  min-width: 20px;
}

.socials:before,
.socials:after {
  content: "";
  height: 100px;
  width: 1px;
  background-color: white;
  margin: auto;
}

.social-btn {
  margin: auto;
  /* width: 20px;
  height: 20px; */
}

.socials-footer {
  display: flex;
  margin: auto;
  margin-right: 10vw;
  justify-content: space-between;
  width: 10vw;
  min-width: 180px;
}

.social-btn img {
  transition: all ease 0.3s;
}

.social-dark {
  filter: invert(0.8);
}

.social-btn:hover img {
  transform: scale(1.4);
}

.waves-div {
  height: 30vh;
  grid-row: 2;
  width: 100%;
  grid-column: 1;
  z-index: 2;
  margin: auto;
  margin-bottom: 0;
  overflow: hidden;
}

.waves-div2 {
  height: 30vh;
  grid-row: 2;
  width: 100%;
  grid-column: 1;
  z-index: 2;
  margin: auto;
  margin-bottom: 0;
  overflow: hidden;
}

.waves-div svg path {
  transform: scale(1.4);
}

.waves-div2 svg path {
  transform: scale(2.5) translateX(-10vw);
}

.landing-section {
  width: 100%;
  height: 100%;
  grid-row-start: 1;
  grid-row-end: 3;
  display: grid;
  grid-template-rows: 80px 1fr;
  grid-template-columns: 45vw 55vw;
  background-size: cover;
  z-index: 2;
  grid-column: 1;
  overflow: hidden;
}

.contact-section {
  box-shadow: 0px 4px 2px 0px rgba(27, 27, 27, 0.07);
  height: calc(100vh - 80px);
  position: relative;
}

.contact-wrapper {
  position: relative;
  background: linear-gradient(0deg, rgb(163, 233, 243), rgb(66, 196, 210));
}

.home {
  background-image: url(./images/landing_hero_background_4.png);
}

.car-rental-landing-background {
  background-image: url(./images/car_rental_hero.png);
  width: 100%;
  background-size: cover;
  height: 100%;
}
.ducati-motorcycles-landing-background {
  background-image: url(./images/ducati_project_card.png);
  width: 100%;
  background-size: cover;
  height: 100%;
  background-position: bottom;
  filter: brightness(0.3);
}

.powder-japan-landing-background {
  background-image: url(./images/powder_japan_hero.png);
  width: 100%;
  background-size: cover;
  height: 100%;
  filter: brightness(0.9);
}

.project-title-container {
  grid-row: 2;
  grid-column: 1;
  z-index: 2;
  width: 85%;
  padding: 0 0 10vh 5vw;
  margin: auto 0 auto auto;
}

.project-after-fold {
  grid-row: 3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.case-img {
  width: 45%;
  background-size: cover;
  background-position: center;
  flex-grow: 2;
  min-width: 55vmin;
  margin: 8px;
  box-shadow: 0px 6px 10px #0000002e;
}

.case-img-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  height: 80%;
}

.dark-text {
  color: #333 !important;
}

.bio {
  color: white;
  line-height: 1.8em;
  font-weight: 300;
  padding-left: 5px;
}

.display-img-container {
  grid-column: 2;
  grid-row: 2;
  z-index: 2;
  width: 80%;
  margin: auto;
  padding: 0 0 10vh 0;
}

.display-img-container img {
  box-shadow: -3px 6px 28px 8px #0000004d;
  border-radius: 5px;
}

.landing-blur {
  filter: blur(4px) brightness(0.8);
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 4;
  transform: scale(1.1);
}

.landing-column_1 {
  grid-column: 1;
}

.landing-column_2 {
  grid-column: 2;
  height: 100%;
  width: 100%;
  grid-row: 2;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 5fr 2fr;
}

.landing-column_2 h5 {
  margin-left: 20px;
  height: 1em;
}

.landing-column_2 h2 {
  color: white;
  /* text-align: center; */
  margin: 30px auto;
  font-size: calc(14px + 4 * ((100vw) / 680));
}

.column_2-container {
  margin: auto;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  /* padding-bottom: 10vh; */
  grid-row: 1;
  transition: opacity ease 0.5s;
}

.landing-text-wrapper {
  margin: auto;
  grid-row: 2;
  width: 90%;
  padding-left: 15vw;
  padding-bottom: 15vh;
}

.landing-text-wrapper button {
  margin: 20px auto auto 0;
  background: #e68158;
  padding: 0.8em 1em;
  box-shadow: 2px 4px 10px 3px rgba(0, 0, 0, 0.08);
}

.landing-text-wrapper button:hover {
  transform: translateX(20px);

  background-color: #e27b52;
}

.subtitle {
  padding-left: 5px;
  color: white;
  margin: 30px 0 30px 0;
  font-size: calc(18px + 9 * ((10vw) / 680));
}

.subtitle-small {
  font-size: calc(12px + 9 * ((20vw) / 880));
  color: white;
  /* text-align: center; */
}

.hero-project-text {
  display: block;
  width: 76%;
  margin: auto;
}

.hero-project-text a {
  transition: all ease 0.3s;
  font-size: calc(12px + 8 * ((20vw) / 880));
  margin: 15px 0;
  display: block;
}

.technologies-icon {
  width: 25px;
  height: 25px;
  margin: auto;
}

.live-link {
  transition: all ease 0.3s;
  padding: 10px 15px;
  display: block;
  width: fit-content;
  font-size: 20px;
  background-color: #e68158;
  border-radius: 4px;
  box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.08);
  margin: 10px 0;
}

.live-link:hover {
  padding-left: 30px;
}

.project-description-icons {
  width: 120px;
  display: flex;
  padding: 15px 0;
  justify-content: space-between;
}

.hero-project-text a:hover {
  padding-left: 15px;
}

.hero-project-img {
  width: 80%;
  margin: auto;
  display: flex;
  box-shadow: -3px 6px 28px 8px #00000038;
  border-radius: 3px;
}

.hero-container {
  grid-template-columns: 1fr;
  /* grid-template-rows: 80px calc(100vh - 80px) 100vh calc(100vh - 80px); */
  grid-template-rows: 80px calc(100vh - 80px) auto calc(100vh - 80px);
  display: grid;
  grid-row-start: 1;
  grid-row-end: 6;
}

.hero-title {
  font-size: calc(24px + 9 * ((100vw) / 680));
  color: white;
  font-weight: 600;
}

.bio-section {
  width: 100%;

  height: 100%;
  grid-row: 3;
  display: flex;
  /* grid-template-rows: 80px 1fr;
  grid-template-columns: 1fr; */

  background: linear-gradient(0deg, rgb(66, 196, 210), #67bbc6);
}

.about-bio {
  margin: auto 0;
  grid-row: 2;
  width: 30vw;
  min-width: 50vmin;
  /* padding: 10vmax 0 0 0; */
  min-width: 280px;
}

.about-bio .bio {
  padding: 0;
}

.about-wrapper {
  display: flex;
  margin: auto;
  width: 60%;
  justify-content: space-around;
  flex-wrap: wrap;
}

.me {
  width: 40%;
  margin: auto 0;
  min-width: 250px;
  padding: 8vmax 0;
}
.me img {
  box-shadow: -3px 6px 28px 8px #00000038;
}

.page-header {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 80px;
}

.page-header #main-nav {
  width: fit-content;
  display: flex;
}

.page-content {
  transition: all 0.3s ease;
  position: relative;
  /* top: 0; */
  grid-row: span 2;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px 1fr;
}

.page-content-home {
  grid-template-rows: 80px calc(100vh - 80px) 100vh calc(100vh - 80px);
}

.page-content-project {
  grid-template-rows: 80px calc(100vh - 80px) 100vh calc(100vh - 80px);
}

.page-content.hidden {
  top: -20%;
  opacity: 0;
}

#app {
  width: 100%;
  min-height: 100%;
  position: absolute;
  transition: all 0.3s ease;
  top: 0;
}

#app.hidden {
  opacity: 0;
  top: -10%;
}

/* main nav */
#main-nav {
  margin: 15px 5vw 15px 0;
}

#main-nav a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  margin: 1em 2.5vw;
  font-size: 15px;
}

#main-nav a.active {
  font-weight: bold;
  /* background: #70ccd6; */
  color: #fff;
  border-radius: 4px;
  /* box-shadow: 1px 2px 3px #1f1f1f1c; */
}

#logo {
  margin: auto;
  margin-left: 5vw;
  width: 160px;
  transition: all ease 0.3s;
}

#logo:hover {
  transform: scale(1.05);
}

.nav-logo {
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 25px;
  margin: auto;
}

.subtle-shadow {
  text-shadow: 0px 1px 8px rgba(150, 150, 150, 0.34);
}

#books-list {
  display: flex;
  flex-wrap: wrap;
}

/* user nav */
#user-nav {
  display: flex;
}

#user-nav a {
  text-decoration: none;
  padding: 0.4em 1em;
  text-transform: uppercase;
  color: #333;
}

.contact-title {
  width: fit-content;
  position: absolute;
  z-index: 30;
  margin: 15vh auto;
  display: block;
  top: 0;
  /* bottom: 0; */
  left: 0;
  height: fit-content;
  right: 0;
  color: white;
  font-weight: 600;
}
.contact-title h1 {
  font-size: calc(24px + 9 * ((100vw) / 680));
}

/* book entry */
.book-entry {
  width: 32%;
  display: flex;
  align-items: flex-start;
  background: #fff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 1.1em;
  transform: scale(0.9);
  transition: all 0.3s ease;
}

.book-entry .content {
  flex-grow: 1;
}

.book-entry h3 {
  font-size: 1.2em;
  margin: 0 0 0.5em;
}

.book-entry .author {
  color: #999;
  margin-bottom: 0.5em;
}

.book-entry .book-cover {
  width: 30%;
  min-width: 70px;
  height: auto;
}

.book-entry .fav-icon {
  /*color: red;*/
  position: absolute;
  right: 10px;
  top: -24px;
  font-size: 35px;
  text-shadow: 0px 2px 2px rgba(150, 150, 150, 1);
  display: none;
}
.book-entry:hover {
  transform: scale(1.01);
}

.book-entry.is-favourite .fav-icon {
  display: block;
}

/* book modal */
.book-modal {
  display: flex;
  align-items: flex-start;
}

.book-modal .content {
  flex-grow: 1;
}

.book-modal .title {
  font-size: 2.2em;
  margin: 0 0 0.5em;
}

.book-modal .author {
  font-size: 1.4em;
  margin-bottom: 0.5em;
  color: #999;
}

.book-modal .book-cover {
  width: 30%;
}

/* Modal */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  /*height: 400px;
  /*overflow: scroll;*/
  background: #fff;
  border-radius: 20px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}

.modal-content {
  padding: 2em;
}

.modal-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 0;
  text-align: center;
  background: #eee;
  border-radius: 50%;
  border: none;
  transition: all 0.2s ease;
  cursor: pointer;
  outline: none;
}

.modal-close-btn:hover {
  background: cyan;
  color: #fff;
  transform: scale(1.1);
}

.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
}

#user-favourites-menu {
  padding-right: 10px;
  position: relative;
}

#user-favourites-menu span {
  display: inline-block;
  background: red;
  color: #fff;
  font-size: 10px;
  width: 18px;
  height: 18px;
  padding-top: 2px;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  top: 0px;
}

.loading {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: red;
  animation: pulse 1s infinite;
  border-radius: 50%;
  margin: 20px auto;
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}

#notifications {
  position: fixed;
  top: 30px;
  right: 30px;
  width: 300px;
}

.notification-entry {
  padding: 1em;
  text-align: center;
  background: #fff;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 200px;
  margin-bottom: 10px;
  position: relative;
}

/* button */
.button {
  display: inline-block;
  padding: 0.4em 1em;
  border-radius: 4px;
  background: #444;
  color: #fff;
  border: none;
  font-size: calc(12px + 9 * ((20vw) / 880));
  transition: all 0.2s ease;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}

.button:hover {
  background: #000;
  transform: scale(1.05);
}

/* filer buttons */
.filter-btn {
  background: #999;
  font-size: 0.8em;
  margin-right: 5px;
}

.filter-btn.is-active {
  background: #333;
}

#favs-count {
  display: inline-block;
  width: 20px;

  background-color: red;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  position: relative;
  top: -2px;
  margin-left: 5px;
}

.field {
  margin-bottom: 1em;
}

.input {
  font-size: 1em;
  padding: 0.5em;
  border: 1px solid #ddd;
  transition: all ease 0.3s;
  border-radius: 4px;
  position: relative;
  width: 100%;
}

.input:focus {
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  outline: none;
  border-color: rgb(146, 212, 212);
}

.form-wrapper {
  width: 60%;
  min-width: 300px;
}

@media screen and (max-width: 1024px) {
  .landing-section {
    grid-template-columns: 1fr;
  }

  .column_2-container img {
    width: 80%;
  }
}

@media screen and (max-width: 1280px) {
  .landing-section {
    grid-template-columns: 1fr;
    grid-template-rows: 80px auto auto;
    min-height: fit-content;
  }
  .display-img-container {
    grid-column: 1;
    grid-row: 3;
    /* padding: 10vmin; */
    margin: auto;
  }
  .landing-column_2 {
    grid-row: 3;
    grid-column: 1;
    grid-template-columns: 1fr 70vw 1fr;
  }
  .column_2-container {
    grid-column: 2;
    padding: 0;
    /* margin-top: 0; */
  }
  .landing-text-wrapper {
    grid-row: 2;
    grid-row: 2;
    padding: 0;
    width: fit-content;
    text-align: center;
    max-width: 70vw;
  }
  .next-btn {
    grid-column: 3;
    grid-column: 3;
    margin-top: 10vh;
    margin-bottom: unset;
  }
  .project-title-container {
    margin: auto;
    padding: 5vmax;
  }
  .page-content-project {
    grid-template-rows: 80px auto 100vh calc(100vh - 80px);
  }
}

@media screen and (max-width: 768px) {
  .landing-column_2 h2 {
    display: none;
  }
  .project-description-icons {
    display: none;
  }
  #hero-project-subtitle {
    display: none;
  }
  .landing-column_2 {
    grid-template-columns: 1fr 75vw 1fr;
  }
  .column_2-container img {
    width: 100%;
  }
  .next-btn {
    margin: auto;
  }
  .socials {
    display: none;
  }
  .bio {
    font-size: 14px;
  }
  .social-btn img {
    width: 18px;
    height: fit-content;
  }
  .about-bio {
    padding: 10vmax 0 0 0;
  }
  .page-header #main-nav {
    /* display: none; */
    visibility: hidden;
    position: absolute;
    width: 0;
    height: 100vh;
    z-index: 30;
    margin: 0;
    background: linear-gradient(0deg, rgb(163, 233, 243), rgb(66, 196, 210));
    opacity: 0;
    transition: all ease 0.3s;
  }
  .page-header #main-nav.show {
    visibility: visible;
    /* display: flex; */
    opacity: 1;
    width: 100vw;
    transition: all ease 0.3s;
  }
  .nav-links {
    padding: 0;
    flex-direction: column;
    margin: auto;
    display: flex;
    height: 60vh;
    z-index: 30;
    justify-content: space-around;
  }
  .burger {
    display: block;
    z-index: 30;
  }
  .live-link {
    font-size: unset;
  }
}
